#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
  
}

.tarjetaHeroes {
  display: flex;
}

.tarjetaHeroes > div {
  flex: 1;
  margin: 1rem;
}

img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}